
{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block main %}

   <ul id="nav" class="nav">
      <li class="current"><a href="{% url 'blog'%}">Blog</a></li>
   </ul> <!-- end #nav -->

   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h2><span>{{ post.title }}</span></h2>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <img src="{{ post.image.url }}" width="400px" height="300px">

                  <!--h3>{{ post.title }}</h3-->
                  <p class="info">{{ post.category.name }} <span>&bull;</span> {{ post.author }} <span>&bull;</span> 阅读数:{{post.views}} <span>&bull;</span> <em class="date">{{ post.created_time }}</em></p>

                  <p>
                     {{ post.body | safe }}
                  </p>

               </div>

            </div> <!-- item end -->

      </div> <!-- End Education -->

   </section> <!-- Resume Section End-->

{% endblock main %}


{% block go_to %}

   <!-- 底部圆形按钮-用于回归页面置顶位置 -->
   <div id="go-top"><a class="smoothscroll" title="Back to Top" href="{% url 'blog'%}#nav"><i class="icon-up-open"></i></a></div>
   
{% endblock go_to %}