
{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block main %}

   <ul id="nav" class="nav">
      <li class="current"><a href="{% url 'home'%}">Home</a></li>
   </ul> <!-- end #nav -->

   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         {% for post in post_list %}
         <div class="three columns header-col">
            <h1><span>{{ post.title }}</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3><a href="{{ post.id }}">{{ post.title }}</a></h3>
                  <p class="info">{{ post.category.name }} <span>&bull;</span> {{ post.author }} <span>&bull;</span> <em class="date">{{ post.created_time }}</em></p>

                  <img src="{{ post.image.url }}" width="400px" height="300px">

                  <p>
                     {{ post.short_text }}
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->
         {% endfor %}


         <div class="dx" >
             <span class="step-links">
                 {% if post_list.has_previous %}
                     <a href="?page={{ post_list.previous_page_number }}">上页</a>
                 {% endif %}

                 <span>
                     当前页 {{ post_list.number }} of 共{{ post_list.paginator.num_pages }}
                 </span>

                 {% if post_list.has_next %}
                     <a href="?page={{ post_list.next_page_number }}">下页</a>
                 {% endif %}
             </span>
         </div>

      </div> <!-- End Education -->

   </section> <!-- Resume Section End-->

{% endblock main %}


{% block go_to %}

   <!-- 底部圆形按钮-用于回归页面置顶位置 -->
   <div id="go-top"><a class="smoothscroll" title="Back to Top" href="{% url 'blog'%}#nav"><i class="icon-up-open"></i></a></div>
   
{% endblock go_to %}