
{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block main %}

   <ul id="nav" class="nav">
      <li class="current"><a href="{% url 'home'%}">Home</a></li>
   </ul> <!-- end #nav -->

   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Video</span></h1>
            <!-- canvas id="gaugeCanvas" width="100" height="100"/ -->
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                     <form>
                     <p>MQTT服务器IP:</p>
                     <input type="text" name="mqtt_ip" id="mqtt_ip" value="47.21.34.11" onfocus="cls()" onblur="res()" style="color:gray;" onkeyprese="pre(this)"/>
                     <p>MQTT服务器Port:</p>
                     <input type="text" name="mqtt_port" id="mqtt_port" value="1888" onfocus="cls()" onblur="res()" style="color:gray;" onkeyprese="pre(this)"/>
                     <p>User ID:</p>
                     <input type="text" name="mqtt_user_id" id="mqtt_user_id" value="dx" onfocus="cls()" onblur="res()" style="color:gray;" onkeyprese="pre(this)"/>
                     <p>订阅消息:</p>
                     <input type="text" name="mqtt_recv_tqp" id="mqtt_recv_tqp" value="test" onfocus="cls()" onblur="res()" style="color:gray;" onkeyprese="pre(this)"/>
                     <p>发布消息:</p><input type="text" name="mqtt_send_tqp" id="mqtt_send_tqp" value="dx" onfocus="cls()" onblur="res()" style="color:gray;" onkeyprese="pre(this)"/>
                     <input type="text" name="mqtt_send_msg" id="mqtt_send_msg" value="11" onfocus="cls()" onblur="res()" style="color:gray;" onkeyprese="pre(this)"/>
                     </form>

                     <textarea id="mqtt_recv_msg">接收消息:</textarea>

                     <br>
                     <button id="connect" onclick="Connect()">连接</button>  <button id="disconnect" onclick="Disconnect()">断开</button> 
                     <button id="connect" onclick="Send_Msg()">发送</button>
                     <br>
                     <div id='container'></div>


               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->

   </section> <!-- Resume Section End-->




{% endblock main %}


{% block go_to %}

   <!-- 底部圆形按钮-用于回归页面置顶位置 -->
   <div id="go-top"><a class="smoothscroll" title="Back to Top" href="{% url 'blog'%}#nav"><i class="icon-up-open"></i></a></div>
   
{% endblock go_to %}



